

h1{
    font-size: xx-large;
    text-align: center;
}

h2{
    font-size: large;
    font-weight: bold;
    margin: 20px;
}
.folder-name{
    margin-left: 10px;
    cursor: pointer;
}
.container{
    border-left: 2px solid black;
    margin-left: 30px;

}